// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.legal-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .legal-title {
    color: var(--ion-color-secondary);
    margin: var(--page-margin) 0px calc(var(--page-margin) / 2);
    font-size: 20px;
  }

  .legal-text {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px var(--page-margin);
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
}

.main_content_div{
  padding: 15px;
color:gray;
text-align: justify;
.roundImg{
  border-radius:50%;
  text-align: center;
  }
  
  ion-button{
      text-transform: capitalize;
  }


  .flex_div{
      display: flex;
      margin-bottom: 10px;
      align-items: flex-start;

      .user_div{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          min-width : 40px;
      }
      .comment{
          padding-left: 20px;
          width: 70%;

          .lbl_div{
              background: #E0E0E0;
              width: fit-content;
              padding: 5px;
              border-radius: 10px;
          }
      }
  }
}
