// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.forgot-password-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .auth-title {
    color: var(--ion-color-primary);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3 / 2));
    letter-spacing: 0.6px;
  }

  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .reset-password-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .cover {
    width: 100%;
    height: 200px;
  }

  .bg_image_extend {
    background-position: center;
    background-repeat: no-repeat;
  }

  .whiteTextClass {
    background-color: LIGHTSLATEGREY;
    height: 35px;
    padding: 9px;
    border-radius: 5px;
  }

  .forgot {
    color: #000;
    font-weight: 600;
    display: block;
    text-align: center;
  }

  .or_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;

    .line_img {
      height: 15px;
      width: 40%;
    }
    .or_text {
      color: black;
    }
  }
}
